@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 300 50% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 300 50% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 300 100% 70%;
    --primary-foreground: 300 50% 10%;
    --secondary: 240 3.7% 25.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 25.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 330 100% 60%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 25.9%;
    --input: 240 3.7% 25.9%;
    --ring: 300 100% 70%;
    --chart-1: 300 100% 70%;
    --chart-2: 330 100% 60%;
    --chart-3: 197 37% 34%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 300 50% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 300 50% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 300 100% 70%;
    --primary-foreground: 300 50% 10%;
    --secondary: 240 3.7% 25.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 25.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 330 100% 60%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 25.9%;
    --input: 240 3.7% 25.9%;
    --ring: 300 100% 70%;
    --chart-1: 300 100% 70%;
    --chart-2: 330 100% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
